<h1>Subir documento</h1>
<form class='d-flex flex-column w-25 m-auto bg-secondary gap-4 border rounded p-4' action="/api/users/{{userId}}/documents" method='post' id='form' enctype="multipart/form-data">
    <input class='form-control' type='file' name='document' placeholder='document'>
    <button class='btn btn-primary'>Subir documento</button>
</form>