<h1>Reset password</h1>
<form class='d-flex flex-column w-25 m-auto bg-secondary gap-4 border rounded p-4' action='/api/auth/reset' method='post' id='form'>
    <input class='form-control' type='email' name='email' placeholder='email' required>
    <button class='btn btn-primary'>Enviar email</button>
</form>