<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago correcto</title>
</head>
<body>
    <h1>Pago correcto!</h1>
    <h2>Te enviaremos una copia de tu compra a tu casilla de correo</h2>
    <a href="/products">Volver al inicio</a>
</body>
</html>